{%extends 'home.html'%}
{% block content %}

{%load static %}
<style>
body {
    margin: 0;
    padding: 0;
    /* background-color: lightgrey; */
    font-family: "Source Sans Pro", sans-serif !important;
  }
  .strbtn {
    border-radius: 5px;
    color: #ffffff;
    background-color: #090966;
    height: 40px;
    width: 160px;
    font-size: x-large;
    font-weight: bold;
	margin-top: 200px;
    border: 3px solid black;
  }
  h2>b{
	  color: red;
  }
</style>
 <div>
	<center>
	    <form method="GET" action="start">
		    <input class="strbtn" type="submit" name="stop" value="Start" />
	    </form>
		 <h2> <b> {{stop}} <br> {{check_details}}</b></h2>
    </center>
</div>
{% endblock %} 